Repository iainelder/aws-org-tree: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, actionlint

mypy:
  name: mypy
  entry: poetry run mypy --show-error-codes
  language: system

actionlint:
  name: actionlint
  entry: actionlint
  language: system

Fix typo in workflow trigger
  .github/workflows/release.yaml
Due: actionlint

Fix mypy errors
  conftest.py
  pyproject.toml
Due: mypy

Add empty file with new tag
  empty_for_tag_test
Due: none

Move release jobs to push-triggered workflow
  .github/workflows/pre-commit.yaml
  .github/workflows/release.yaml
Due: actionlint

Publish a basic release
  .github/workflows/pre-commit.yaml
Due: actionlint

Try official PyPA publisher action
  .github/workflows/publish-to-pypi.yaml
Due: actionlint

Debug release context
  .github/workflows/publish-to-pypi.yaml
Due: actionlint

Run publish workflow when release is published
  .github/workflows/publish-to-pypi.yaml
Due: actionlint

Add build artifacts to release
  .github/workflows/pre-commit.yaml
Due: actionlint

Download artifacts to dist for publishing
  .github/workflows/pre-commit.yaml
Due: actionlint

Move publish job to main workflow
  .github/workflows/pre-commit.yaml
Due: actionlint

Rename main workflow
  .github/workflows/publish-to-pypi.yaml
  .github/workflows/publish.yaml
Due: actionlint

Download build artifacts to publish them
  .github/workflows/publish.yaml
Due: actionlint

Remove compatibility hacks for act
  .github/workflows/publish.yaml
Due: actionlint

Use community action to install Poetry
  .github/workflows/publish.yaml
Due: actionlint

Fix typo in actionlint versioning
  .github/workflows/publish.yaml
Due: actionlint

Cache Python dependencies
  .github/workflows/publish.yaml
Due: actionlint

Fix typo in action version
  .github/workflows/publish.yaml
Due: actionlint

Show pre-commit check duration
  .github/workflows/publish.yaml
Due: actionlint

Fix mypy run outside pre-commit
  pyproject.toml
Due: none

Use actionlint-py hook for pre-commit
  .github/workflows/publish.yaml
  .pre-commit-config.yaml
Due: actionlint

Obsolete check-github-workflows for actionlint
  .pre-commit-config.yaml
Due: none

Add version 0.4.0 to changelog
  CHANGELOG.md
Due: none

Check version consistency between tag and pyproject.toml
  .pre-commit-config.yaml
  check-consistent-version
Due: none

Fix consistency check
  .github/workflows/publish.yaml
  check-consistent-version
Due: actionlint

Remove broken check (tag is created after commit)
  .pre-commit-config.yaml
  check-consistent-version
Due: none

Check version consistency
  .github/workflows/publish.yaml
Due: actionlint

Fix missing condition for release
  .github/workflows/publish.yaml
Due: actionlint

Check out tags
  .github/workflows/publish.yaml
Due: actionlint

Bump module version to 0.4.0
  pyproject.toml
Due: none

Publish to prod PyPI
  .github/workflows/publish.yaml
Due: actionlint

Bump version to 0.4.1
  CHANGELOG.md
  pyproject.toml
Due: none

Update CI/CD documentation
  .actrc
  README.md
Due: none

Document installation
  README.md
Due: none

Fix typo
  README.md
Due: none

Add test for main CLI function
  aws_org_tree/__main__.py
  pyproject.toml
  tests/test_cli.py
Due: mypy

mypy needs to run on all files
  .pre-commit-config.yaml
Due: none

Run mypy on all files when any python changes
  .pre-commit-config.yaml
Due: none

Remove unused type hint
  conftest.py
Due: mypy

Test edge case by patching botocore
  tests/test_cli.py
  tests/test_main.py
Due: mypy

Path conditions:
  mypy: any of: \.py$
  actionlint: any of: .github/workflows and \.(yaml|yml)$
